$width: 250px;

.eventCard {
	width: $width;
	height: $width * 2;
	display: inline-block;
	margin: 20px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0px 0px 20px -3px rgba(84,84,84,1);
}
.eventBannerContainer {
	overflow: hidden;
	width: $width;
	height: $width;
	display: flex;
}

.eventBanner {
	max-height: 100%;
	max-width: 100%;
	min-width: 100%;
	object-fit: cover;
	position: relative;
	align-self: center;
	z-index: 10;
	left: $width * -1.1;
}

.eventBannerBackDrop {
	top: -5%;
	left: -5%;
	width: $width * 1.1;
	height: $width * 1.1;
	min-width: $width * 1.1;
	min-height: $width * 1.1;
	//background-size: cover;
	//background-position: center;
	//background-repeat: no-repeat;
	//background-origin: content-box;
	//display: flex;
	z-index: 0;
	position: relative;
	filter: blur(10px);
}

.eventGenre {
	margin: 0 5px 0 2px;
	min-width: 0;
	min-height: 0;
	flex: 1 1 auto;
}

.eventMisc {
	bottom: 0;
	position: absolute;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.eventGenres {
	margin: 5px;
	display: grid;
	max-width: 70%;
}

.eventVenue {
	padding: 0;
	width: 32px;
	height: 32px;
	margin: auto;
}

.venue {
	filter: drop-shadow(0px 0px 2px rgba(0,0,0,1));
	width: 32px;
	height: 32px;
}

.eventVenueInfo {
	margin: 5px;
	width: 30%;
}

.eventRoom {
	position: absolute;
	right: 0;
}

.eventDateTime {
	display: grid;
}

.eventDate {
	margin: 2px;
}

.eventTime {
	margin: 2px;
}